<!--This is currently super broken-->
<!--https://github.com/Bloggify/github-calendar/issues/169#issuecomment-1638288345-->

<a href="<%= links.github %>">
    <div class="GitHub calendar" style="text-decoration: none !important;">
        <!-- Loading stuff -->
        Loading github bloccs...
    </div>
</a>
<script>

    GitHubCalendar(".calendar", "zudsniper", {responsive: true});
</script>